<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>142050C511AB1CCE00460FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149D29D211AAFD5600DF1946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42AA5540E073EEC000C4D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42AA5960E073EFB000C4D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
